<a href="https://colab.research.google.com/github/baharaaii/DBCourseInha/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my.db.db/")
print (my_conn.name)

sqlite

In [9]:
r_set=my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

AttributeError: ignored

In [10]:
r_set=my_conn.execute(''' SELECT * From student''')
for row in r_set:
  print(row)

AttributeError: ignored